.contact {
  display: grid;
  grid-template-columns: calc(30% - 1rem) calc(70% - 1rem);
  column-gap: 2rem;
  color: black;
  font-family: "Abril Fatface", serif;
  background-color: var(--color-white);
  border-top: solid black 2px;
}

.contactContent {
  height: 100%;
  width: 100%;
  padding: 3rem;
}

h1.contactTitle {
  font-size: 60px;
}

h2.contactTitle {
  font-size: 45px;
  margin-top: 3rem;
}

.contactText {
  font-size: 28px;
  font-family: serif;
  margin: 0;
}

.contactLink {
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
}

.contactLink:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

@media (min-height: 100vw) {
  .contact {
    grid-template-columns: 100%;
  }

  .contactContent {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    min-height: 50vh;
    width: 90%;
  }
}
