.navbar {
  width: 100%;
}

.navbar.unstuck {
  display: block;
  position: absolute;
  top: 25vh;
  bottom: 75vh;
  height: 50vh;
  background-color: transparent;
  font-size: 30px;
  z-index: 10;
  color: var(--color-white);
  will-change: position, top, background-color, height, font-size, transform;
}

.navbar.stuck {
  display: block;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: var(--header-height);
  font-size: 24px;
  animation: stickNavbar 1s;
  z-index: 10;
  will-change: background-color, height, font-size, transform;
  animation: 0.25s stickNavbar;
  animation-timing-function: ease-in-out;
}

.navbar.hidden {
  display: none;
}

@keyframes stickNavbar {
  from {
    background-color: transparent;
    height: 50vh;
    font-size: 30px;
  }
  to {
    background-color: rgba(0, 0, 0, 0.75);
    height: var(--header-height);
    font-size: 24px;
  }
}

@keyframes stickNavbarSmall {
  from {
    background-color: transparent;
    height: 20vh;
  }
  to {
    background-color: rgba(0, 0, 0, 0.75);
    height: var(--header-height);
  }
}

@keyframes stickNavbarMedium {
  from {
    background-color: transparent;
    height: 20vh;
    font-size: 30px;
  }
  to {
    background-color: rgba(0, 0, 0, 0.75);
    height: var(--header-height);
    font-size: 24px;
  }
}

.navbar.animate {
  animation: 0.25s unstickNavbar;
  animation-timing-function: ease-in-out;
}

@keyframes unstickNavbar {
  from {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: calc(25vh + var(--header-height));
    height: var(--header-height);
    font-size: 24px;
  }
  to {
    background-color: transparent;
    bottom: 75vh;
    height: 50vh;
    font-size: 30px;
  }
}

@keyframes unstickNavbarSmall {
  from {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: calc(25vh + var(--header-height));
    height: var(--header-height);
  }
  to {
    background-color: transparent;
    top: 40vh;
    bottom: 60vh;
    height: 20vh;
  }
}

@keyframes unstickNavbarMedium {
  from {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: calc(25vh + var(--header-height));
    height: var(--header-height);
    font-size: 24px;
  }
  to {
    background-color: transparent;
    top: 40vh;
    bottom: 60vh;
    height: 20vh;
    font-size: 30px;
  }
}

.navbarButton {
  position: absolute;
  top: 50%;
  font-family: "Abril Fatface", serif;
}

.navbarButton:hover {
  transition: 0.5s;
  color: var(--color-white-secondary);
}

#appointmentsButton {
  left: 15%;
  transform: translate(-50%, -50%);
}

#contactButton {
  right: 15%;
  transform: translate(50%, -50%);
}

.navbarButton:before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--color-white-secondary);
  height: 2px;
  transition: right 0.2s ease-out;
}

.navbarButton:hover:before {
  right: 0;
}

.barberPoleContainer {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px auto;
  height: calc(100% - 2 * 10px);
  aspect-ratio: 100 / 306;
  z-index: 10;
}

.barberPoleCaps {
  height: 100%;
  object-fit: contain;
}

.ball {
  height: 7.19%;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  background-color: var(--color-white);
}

.endCap {
  width: 64.286%;
  height: 4.902%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.952%;
  margin-bottom: 5.952%;
  background-color: var(--color-white);
}

.cap {
  width: 100%;
  height: 4.902%;
  background-color: var(--color-white);
}

.barberWrap {
  position: absolute;
  top: 22.4%;
  bottom: 22.4%;
  left: 15.5%;
  right: 15.5%;
  /* height: 56.209%;
  width: 64.286%;
  margin-top: 5.952%;
  margin-bottom: 5.952%;
  margin-left: auto;
  margin-right: auto; */
}

.barber {
  height: 100%;
  width: 100%;
  position: inherit;
  background: var(--color-white);
  background-color: -webkit-linear-gradient(
    -45deg,
    var(--color-white) 0%,
    var(--color-white) 6.25%,
    var(--color-red) 6.25%,
    var(--color-red) 12.5%,
    var(--color-white) 12.5%,
    var(--color-white) 18.75%,
    var(--color-blue) 18.75%,
    var(--color-blue) 25%
  );
  background: -moz-linear-gradient(
    -45deg,
    var(--color-white) 0%,
    var(--color-white) 6.25%,
    var(--color-red) 6.25%,
    var(--color-red) 12.5%,
    var(--color-white) 12.5%,
    var(--color-white) 18.75%,
    var(--color-blue) 18.75%,
    var(--color-blue) 25%
  );
  background: -o-linear-gradient(
    -45deg,
    var(--color-white) 0%,
    var(--color-white) 6.25%,
    var(--color-red) 6.25%,
    var(--color-red) 12.5%,
    var(--color-white) 12.5%,
    var(--color-white) 18.75%,
    var(--color-blue) 18.75%,
    var(--color-blue) 25%
  );
  background: repeating-linear-gradient(
    -45deg,
    var(--color-white) 0%,
    var(--color-white) 6.25%,
    var(--color-red) 6.25%,
    var(--color-red) 12.5%,
    var(--color-white) 12.5%,
    var(--color-white) 18.75%,
    var(--color-blue) 18.75%,
    var(--color-blue) 25%
  );
  background-size: 100% 200%;
  -webkit-animation: barberpole 1.5s infinite linear;
  animation: barberpole 2.5s infinite linear;
}

@keyframes barberpole {
  from {
    background-position: 0 0%;
  }
  to {
    background-position: 0 60%;
  }
}

@media (min-height: 100vw) {
  .navbar.unstuck {
    top: 40vh;
    bottom: 60vh;
    height: 20vh;
  }

  #appointmentsButton {
    left: 20%;
    transform: translate(-50%, -50%);
  }

  #contactButton {
    right: 20%;
    transform: translate(50%, -50%);
  }

  .navbar.animate {
    animation: 0.25s unstickNavbarMedium;
  }

  .navbar.stuck {
    animation: 0.25s stickNavbarMedium;
  }
}

@media (max-width: 767px) {
  .navbar.unstuck {
    font-size: 14px;
  }

  .navbar.animate {
    animation: 0.25s unstickNavbarSmall;
  }

  .navbar.stuck {
    animation: 0.25s stickNavbarSmall;
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .navbar.unstuck {
    font-size: 12px;
  }

  .navbar.stuck {
    font-size: 12px;
  }
}
